$primary: #FF00CC;
$secondary: #46FF33;
$success: #FCFF33;
$info: #FF8033;
$warning: #335EFF;
$danger: #8C8C8C;
$light: #C20B0B ;
$dark: #0BC2BF ;


// bootstrap completo
@import "./node_modules/bootstrap/scss/bootstrap.scss";

